<div class="container">

  <% if user_signed_in? %>

    <%= render 'form', appointment: @appointment %>

  <% else %>

    <%= link_to 'Sign up', new_user_registration_path, :class=>'btn btn-success text-white' %>

    <%= link_to 'Sign in', new_user_session_path, :class=>'btn btn-primary text-white' %>

  <% end %>

</div>
